@model VacationManager.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLead.FullName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Teams">Back to List</a>
</div>
<h4>Team Members</h4>

@if (ViewBag.Members != null && ((List<ApplicationUser>)ViewBag.Members).Any())
{
        <ul>
        @foreach (var user in (List<ApplicationUser>)ViewBag.Members)
        {
                    <li>@user.FirstName @user.LastName (@user.Email)</li>
        }
        </ul>
}
else
{
        <p>No members in this team.</p>
}
