@model IEnumerable<VacationManager.Models.VacationRequest>

@{
    ViewData["Title"] = "All Vacation Requests";
}

<h2>All Vacation Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Start</th>
            <th>End</th>
            <th>Type</th>
            <th>Approved</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var v in Model)
        {
                <tr>
                    <td>@v.User?.Email</td>
                    <td>@v.StartDate.ToShortDateString()</td>
                    <td>@v.EndDate.ToShortDateString()</td>
                    <td>@v.VacationType?.Name</td>
                        <td>@v.Status </td>

    <td>
                    @if (v.Status == "Approved")
                    {
                <span class="badge bg-success">Approved</span>
                    }
                    else if (v.Status == "Rejected")
                    {
                <span class="badge bg-danger">Rejected</span>
                    }
                    else
                    {
                <span class="badge bg-warning text-dark">Pending</span>
                    }
    </td>
                </tr>
        }
    </tbody>
</table>