@model VacationManager.Models.UserViewModel

@{
    ViewData["Title"] = "User Details";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h2 class="h4 mb-3">User Details</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">@Model.Email</dd>
                    <dt class="col-sm-3">First Name</dt>
                    <dd class="col-sm-9">@Model.FirstName</dd>
                    <dt class="col-sm-3">Last Name</dt>
                    <dd class="col-sm-9">@Model.LastName</dd>
                    <dt class="col-sm-3">Team</dt>
                    <dd class="col-sm-9">@ViewBag.TeamName</dd>
                    <dt class="col-sm-3">Role</dt>
                    <dd class="col-sm-9">@Model.Role</dd>
                </dl>
                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>